/**
 * ------------------------------------------------------------------------------------------------- 
 * Sass colour variables
 * -------------------------------------------------------------------------------------------------
 */

$col-text: #57575f; // Darker blue 
$col-text-light: #aaa;
$col-text-btn: #f8f7f0;

$col-page: #fff;
$col-page-alt: #f8f7f0;

$col-border: #ccc;
$col-reverse-btn: #555;

$col-required: #c7254e; // red  
$col-optional: #17be7c; // green
  
/* Brand colours */
$col-brand: #5b5b6e; // Lighter blue
$col-brand-accent: #e77a4a; //orange
