/**
 * ------------------------------------------------------------------------------------------------- 
 * Header
 * -------------------------------------------------------------------------------------------------
 */

header {
	margin-bottom: 1em;
	padding-bottom: 1em;
	background: #57575f; 
	color: #fff;
}