/**
 * ------------------------------------------------------------------------------------------------- 
 * Header
 * -------------------------------------------------------------------------------------------------
 */

#masthead {	
	background: $col-page;
	
	.wrapper {
		padding: 1.5em 0;
		text-align: center;		
	}
}